/* navigation.css */
.nav-toggle {
    position: absolute;
    top: 25px;
    left: 20px;
    cursor: pointer;
    display: block;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}


/* ×ボタンのスタイル */
.close-button {
    position: absolute;
    top: 20px;
    left: 15px;
    cursor: pointer;
    font-size: 35px;
    color: #ffffff; /* ×ボタンの色 */
}

/* ナビゲーションメニューを隠す */
.nav-menu {
    position: fixed;
    top: 0;
    left: -260px; /* 初期状態で非表示 */
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: left 0.3s;
}

.nav-menu.open {
    left: 0; /* 開いた状態で表示 */
}

.nav-menu ul {
    margin-top: 75px;
    list-style-type: none;
    padding: 0;
}

.nav-menu ul li {
    padding: 0px 0px 0px 15px;
    margin-left: 10;
    text-align: left;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: #ff6600; /* ホバー時の色 */
}
