/* スタイルの基本設定 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* ダークネイビーの背景色 */
    color: #ffffff; /* テキストの白色 */
}


a{
    color:aqua
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.container h3 {
    margin-left: 15px;
    margin-bottom: 0px;
}

.container h4 {
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 3px;
}


.releaseInfoAREA {
    max-height: 150px; /* スクロール可能な最大の高さを設定 */
    overflow-y: auto; /* 縦方向にスクロールバーを表示 */
}

#releaseInfo h2 {
    margin-bottom: 10px; /* 任意の適切なマージン値を設定 */
}

#releaseInfo p {
    margin-top: 5px;
    margin-left: 15px;
}

#self-introduction h2 {
    margin-bottom: 10px; /* 任意の適切なマージン値を設定 */
}

#self-introduction p {
    margin-top: 10px;
    margin-left: 15px;
}


/* ヘッダースタイル */
header {
    background-color: #333;
    text-align: center;
    padding: 0px 0;
}

header h1 {
    font-size: 28px;
}

/* セクションスタイル */
section {
    margin: 20px 0;
    padding: 0px;
    background-color: #1f1f1f; /* セクションの背景色 */
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

section h2 {
    margin-left: 5px;
    font-size: 24px;
}


.selfIntroduction {
    display: flex;
    margin-left: 15px;
    
}

/*リリース*/
.release {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin: 20px 20;
}

/* アプリ紹介スタイル */
.app {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin: 20px 20;
}

.appdetails {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 25px;
    margin: 10px 25px;
}

.appdetails ul {
    display: flex;
    
    margin-top: 10px;
    margin-left: -5px;

}

.new-update {
    margin-left: 25px;
    margin-top: 10px; /* テキストと他の要素の間隔を調整 */
    color:yellow
}

.app img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.batchIcon {
    padding: 1px 0;
}

.batchIcon img {
    height: 40px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 5px;
}

/* お問い合わせスタイル */
#contact {
    background-color: #333;
    padding: 0px 0;
    text-align: left;
}

#contact h2 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 0px;
}

#contact p {
    margin-top: 10px;
    margin-left: 15px;
}

